<div class="container pt-5">
  <div>
    <h1 class="title">Forum</h1>
    <button type="button" class="btn btn-light mb-4 mt-3"><%= link_to "Home", posts_path, class: "button is-primary" %></button>
    <%= render "form" %>
  </div>
</section>
